* {
    box-sizing: border-box;
  }
  
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

input {
  outline: none;
  border: none;
  background: transparent;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50rem;
  padding: 3rem;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.6);
  border-radius: 10%;
}

.login-box h2 {
  margin: 0 0 3%;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2% 0;
  color: #fff;
  transition: 500ms;
  font-size: 1rem;
  pointer-events: none;
}

.login-box .user-box .input {
  width: 100%;
  padding: 3% 0;
  color: #fff;
  margin-bottom: 1rem;
  border-bottom: 1px solid #fff;
  background-color: none;
}

.input:active ~ label {
  top: -20px;
  color: #03e9f4;
  font-size: 12px;
  }

.input:focus ~ label {
  top: -20px;
  color: #03e9f4;
  font-size: 12px;
}

.input:valid ~ label  {
  top: -20px;
  color: #03e9f4;
  font-size: 12px;
  }


.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  color: #03e9f4;
}

.login-box button:hover {
  background-color: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 100px #03e9f4;
}
.switch-link{
  text-decoration: none;
  color: #03e9f4;
  margin-top: 1rem;
}

.form-link{
  text-align: center;
}