/* 
    this the css file for all show tabs lihe: prdouct & slide & categories...
*/
.table-container{
    padding-left: 4.8rem;
}
.image
{
    width: 30%;
}
.img-data
{
    width: 20%;
}
.add-btn
{
    width: 100%;
}
.catigory-data
{
    text-align: center;
}
.slider-data
{
    text-align: center;
    width: 40%;
}

.description{
    width: 50%;
}

.description input{
    width: 33vw;
}